In [3]:
import pandas as pd
import numpy as np

In [8]:
df2 = pd.read_csv("https://raw.githubusercontent.com/JackronyK/SLA_ETL/main/Processsed_Data/SAFARICOM_Invoice.csv")
df = pd.read_csv("https://raw.githubusercontent.com/JackronyK/SLA_ETL/main/Processsed_Data/LTK_Invoice.csv")

In [9]:
df.head()

,Invoice Date,Invoice No,Invoice Period,Link ID,Invoice Description,QRC (EX TAX),Excise (15%),VAT (16%),Invoice Total
0,2023-10-13,CRN-15473,01-Oct-2023 to 31-Dec-2023,26046,26046 National MPLS KRA MBITA TO VRF (INS-57),-48264.0,0,-7722.24,-55986.24
1,2023-10-06,116426,01-Oct-2023 to 31-Dec-2023,C-00159-0087,C-00159-0087 EPL Connection charge 80MBPS->SAM...,360000.0,0,57600.00,417600.00
2,2023-10-06,116426,01-Oct-2023 to 31-Dec-2023,1750,01750 National MPLS KRA - TIMES TOWERS TO VRF,810000.0,0,129600.00,939600.00
3,2023-10-06,116426,01-Oct-2023 to 31-Dec-2023,5611,05611 National MPLS Msa link vlan 460 customs,61927.5,0,9908.40,71835.90
4,2023-10-06,116426,01-Oct-2023 to 31-Dec-2023,20103,20103 Leased_Circuits_Naticnal KRA WILSON AIRP...,68850.0,0,11016.00,79866.00

In [8]:
df2.tail()

,No.,Invoice Date,Invoice Ref.,Invoice Period,Link ID,Invoice Description,Net billed(Exc. Taxes),VAT,Excise,Monthly Total Billed,Period(Months),Total Billed for the Period,Amount Including Excise
54,55,2023-10-01,B1-10096515502,1st Oct to 31st Dec 2023,95096538.0,KRA BUSIA-WIMAX,7.000830e+04,12881.527200,10501.24500,9.339107e+04,3.0,280173.2166,8.050954e+04
55,56,2023-10-01,B1-10096515502,1st Oct to 31st Dec 2023,95096687.0,KRA CUSTOMS OFFICE- NAIROBI-NAMANGA WIMAX,6.999750e+04,12879.540000,10499.62500,9.337666e+04,3.0,280129.9950,8.049712e+04
56,57,2023-10-01,B1-10096515502,1st Oct to 31st Dec 2023,95096716.0,KRA ISEBANIA-WIMAX,7.368510e+04,13558.058400,11052.76500,9.829592e+04,3.0,294887.7702,8.473787e+04
57,58,2023-10-01,B1-10096515502,1st Oct to 31st Dec 2023,95096873.0,KRA LUNGA LUNGA WIMAX,6.999750e+04,12879.540000,10499.62500,9.337666e+04,3.0,280129.9950,8.049712e+04
58,Total,NaN,NaN,NaN,NaN,NaN,2.815170e+06,517991.341566,422275.55019,3.755437e+06,NaN,NaN,3.237446e+06

### Codeing before transforming them into classes

In [12]:
# Dropping rows with null values in all the fields
df2.dropna(how='all', inplace = True)

#dropping the total row
df2.drop(df2[df2["No."] == "Total"].index, inplace= True)

##Function to help pick the columns
def pick_Invoice_no_column_name(df):
    # Loop through the fixed substrings
    for substring in ['inveoice no', 'ref']:
        # Check if any column contains the substring
        matching_columns = [col for col in df.columns if substring.lower() in col.lower()]
        # If a matching column is found, return its name
        if matching_columns:
            return matching_columns[0]
        
def QRC_Finder(df):
    max_value = None
    max_col = None
    for substring in ['QRC', 'Total', 'Amount']:
        #Checking for the matching amount related columns
        fields = [col for col in df.columns if substring.lower() in col.lower()]
    for field in fields:
        # Check if the column exists and has valid values
        if field in df.columns and not df[field].isnull().all():
            # Finding the maximum value in the first row of the column
            first_row_value = df.at[1,field]
            if max_value is None or first_row_value > max_value:
                max_value = first_row_value
                max_col = field
    return max_col



# Dropping unwanted Columns
columns_wanted = {"Date": "Invoice Date",
                  "ID": "Link ID",
                   "Period": "Invoice Period",
                    "Descriprion": "Invoice Description",
                     "QRC":QRC_Finder(df2),
                      "Reference/ no": pick_Invoice_no_column_name(df2)}

df_selected = df2.loc[:, [value for value in columns_wanted.values()]]

In [13]:
df_selected.head()

,Invoice Date,Link ID,Invoice Period,Invoice Description,Amount Including Excise,Invoice Ref.
0,2023-10-01,95001135.0,1st Oct to 31st Dec 2023,CUSTOMS OFFICE MALINDI-WIMAX,69007.36,B1-10096515502
1,2023-10-01,95001574.0,1st Oct to 31st Dec 2023,KRA LOITOKTOK BORDER WIMAX,69007.36,B1-10096515502
2,2023-10-01,95001628.0,1st Oct to 31st Dec 2023,KRA KRATI MOMBASA WIMAX,69007.36,B1-10096515502
3,2023-10-01,95004139.0,1st Oct to 31st Dec 2023,KRA - MANDERA,51746.78,B1-10096515502
4,2023-10-01,95004140.0,1st Oct to 31st Dec 2023,KRA - Moyale,69007.36,B1-10096515502

#### function Workstation

In [29]:
columns_wanted = {"Date": "Invoice Date",
                  "ID": "Link ID",
                   "Period": "Invoice Period",
                    "Descriprion": "Invoice Description",
                     "QRC":"QRC_Finder(df2)",
                      "Reference/ no": "pick_Invoice_no_column_name(df2)"}
list(columns_wanted.values())

['Invoice Date',
 'Link ID',
 'Invoice Period',
 'Invoice Description',
 'QRC_Finder(df2)',
 'pick_Invoice_no_column_name(df2)']

In [24]:
not df2['Amount Including Excise'].isnull().all()

True

In [25]:
df2.at[0,'Invoice Date']

'2023-10-01'

In [21]:
def QRC_Finder(df):
    max_value = None
    max_column = None
    
    for substring in ['QRC', 'Total', 'Amount']:
        # Checking for the matching amount related columns
        fields = [col for col in df.columns if substring.lower() in col.lower()]
    
    for field in fields:
        # Check if the column exists and has valid values
        if field in df.columns and not df[field].isnull().all():
            # Find the maximum value in the first row of the column
            first_row_value = df.at[0, field]
            if max_value is None or first_row_value > max_value:
                max_value = first_row_value
                max_column = field
    
    return max_column

# Example usage
df = pd.DataFrame({'Total Amount': [100, 150, 200], 'Invoice Amount': [120, 140, 180]})
largest_column = QRC_Finder(df)
print("Column with largest value:", largest_column)

Column with largest value: Invoice Amount

In [ ]:
df2.tail()

In [18]:
import pandas as pd

def pick_column(df, substrings):
    # Initialize an empty list to store the filtered columns
    wanted_columns = []
    
    # Loop through each substring and filter columns
    for substring in substrings:
        # Filter columns containing the current substring
        columns = df.columns[df.columns.str.contains(substring, case=False)]
        # Extend the list of wanted columns with the filtered columns
        wanted_columns.extend(columns)
    
    # Remove duplicates and return the final list of wanted columns
    return list(set(wanted_columns))

# Example usage
df = pd.DataFrame({'Invoice Ref': [1, 2, 3], 'Invoice Kenya.': [4, 5, 6]})
wanted_columns = pick_column(df, ['no.', 'ref'])
print(wanted_columns)

['Invoice Ref']

In [20]:
import pandas as pd

def pick_column_name(df):
    # Loop through the fixed substrings
    for substring in ['no.', 'ref']:
        # Check if any column contains the substring
        matching_columns = [col for col in df.columns if substring.lower() in col.lower()]
        # If a matching column is found, return its name
        if matching_columns:
            return matching_columns[0]

# Example usage
df = pd.DataFrame({'Invoice Ref': [1, 2, 3], 'Invoice kenya.': [4, 5, 6]})
wanted_column = pick_column_name(df)
print(wanted_column)

Invoice Ref

### Classes

### Invoice Cleaner Class

In [39]:
import pandas as pd

class InvoiceCleaner:
    def __init__(self, df):
        self.df = df
        
    def drop_null_rows(self):
        self.df.dropna(how='all', inplace=True)
        
    def drop_total_row(self):
        if "No." in self.df.columns:
            self.df.drop(self.df[self.df["No."] == "Total"].index, inplace=True)
        
        
    def pick_invoice_no_column_name(self):
        for substring in ['invoice no', 'ref']:
            matching_columns = [col for col in self.df.columns if substring.lower() in col.lower()]
            if matching_columns:
                return matching_columns[0]
                
    def QRC_Finder(self):
        max_value = None
        max_col = None
        for substring in ['QRC', 'Total', 'Amount']:
            fields = [col for col in self.df.columns if substring.lower() in col.lower()]
            for field in fields:
                if field in self.df.columns and not self.df[field].isnull().all():
                    first_row_value = self.df.at[1, field]
                    if max_value is None or first_row_value > max_value:
                        max_value = first_row_value
                        max_col = field
        return max_col
    
    def clean_invoice_data(self):
        self.drop_null_rows()
        self.drop_total_row()
        
        columns_wanted = {
            "Date": "Invoice Date",
            "ID": "Link ID",
            "Period": "Invoice Period",
            "Descriprion": "Invoice Description",
            "QRC": self.QRC_Finder(),
            "Reference/ no": self.pick_invoice_no_column_name()
        }

        self.df = self.df.loc[:, [value for value in columns_wanted.values()]]

    def adjust_col_dtypes(self):
        #Converting the Invoice date col into Date dtype
        if 'Invoice Date' in self.df.columns:
            self.df['Invoice Date'] = pd.to_datetime(self.df['Invoice Date'])
        
        #Adjusting the link ID based on current dtype
        if 'Link ID' in self.df.columns:
            if self.df['Link ID'].dtype == 'float':
                self.df['Link ID'] = self.df['Link ID'].astype('int').astype('str')
            elif self.df['Link ID'].dtype == 'int':
                self.df['Link ID'] = self.df['Link ID'].astype('str')

In [38]:
# Assuming df2 is your DataFrame
cleaner = InvoiceCleaner(df2)
cleaner.adjust_col_dtypes()
cleaned_df = cleaner.df
cleaned_df.head()

,No.,Invoice Date,Invoice Ref.,Invoice Period,Link ID,Invoice Description,Net billed(Exc. Taxes),VAT,Excise,Monthly Total Billed,Period(Months),Total Billed for the Period,Amount Including Excise
0,1,2023-10-01,B1-10096515502,1st Oct to 31st Dec 2023,95001135,CUSTOMS OFFICE MALINDI-WIMAX,60006.4,11041.1776,9000.96,80048.5376,3.0,240145.6128,69007.36
1,2,2023-10-01,B1-10096515502,1st Oct to 31st Dec 2023,95001574,KRA LOITOKTOK BORDER WIMAX,60006.4,11041.1776,9000.96,80048.5376,3.0,240145.6128,69007.36
2,3,2023-10-01,B1-10096515502,1st Oct to 31st Dec 2023,95001628,KRA KRATI MOMBASA WIMAX,60006.4,11041.1776,9000.96,80048.5376,3.0,240145.6128,69007.36
3,4,2023-10-01,B1-10096515502,1st Oct to 31st Dec 2023,95004139,KRA - MANDERA,44997.2,8279.4848,6749.58,60026.2648,3.0,180078.7944,51746.78
4,5,2023-10-01,B1-10096515502,1st Oct to 31st Dec 2023,95004140,KRA - Moyale,60006.4,11041.1776,9000.96,80048.5376,3.0,240145.6128,69007.36

In [63]:
# Assuming df2 is your DataFrame
cleaner = InvoiceCleaner(df)
cleaner.clean_invoice_data()
cleaned_df = cleaner.df
cleaned_df.head()

,Invoice Date,Link ID,Invoice Period,Invoice Description,Invoice Total,Invoice No
0,2023-10-13,26046,01-Oct-2023 to 31-Dec-2023,26046 National MPLS KRA MBITA TO VRF (INS-57),-55986.24,CRN-15473
1,2023-10-06,C-00159-0087,01-Oct-2023 to 31-Dec-2023,C-00159-0087 EPL Connection charge 80MBPS->SAM...,417600.00,116426
2,2023-10-06,1750,01-Oct-2023 to 31-Dec-2023,01750 National MPLS KRA - TIMES TOWERS TO VRF,939600.00,116426
3,2023-10-06,5611,01-Oct-2023 to 31-Dec-2023,05611 National MPLS Msa link vlan 460 customs,71835.90,116426
4,2023-10-06,20103,01-Oct-2023 to 31-Dec-2023,20103 Leased_Circuits_Naticnal KRA WILSON AIRP...,79866.00,116426

In [18]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Invoice Date                 58 non-null     object
 1   Link ID                      58 non-null     float64
 2   Invoice Period               58 non-null     object
 3   Invoice Description          58 non-null     object
 4   Total Billed for the Period  58 non-null     float64
 5   Invoice Ref.                 58 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.8+ KB

#### Enhancements

In [34]:
cleaned_df['Invoice Date'] = pd.to_datetime(cleaned_df['Invoice Date'])
cleaned_df['Link ID'] = cleaned_df['Link ID'].astype('int').astype('str')
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Invoice Date                 58 non-null     datetime64[ns]
 1   Link ID                      58 non-null     object
 2   Invoice Period               58 non-null     object
 3   Invoice Description          58 non-null     object
 4   Total Billed for the Period  58 non-null     float64
 5   Invoice Ref.                 58 non-null     object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 2.8+ KB

In [35]:
cleaned_df.head()

,Invoice Date,Link ID,Invoice Period,Invoice Description,Total Billed for the Period,Invoice Ref.
0,2023-10-01,95001135,1st Oct to 31st Dec 2023,CUSTOMS OFFICE MALINDI-WIMAX,240145.6128,B1-10096515502
1,2023-10-01,95001574,1st Oct to 31st Dec 2023,KRA LOITOKTOK BORDER WIMAX,240145.6128,B1-10096515502
2,2023-10-01,95001628,1st Oct to 31st Dec 2023,KRA KRATI MOMBASA WIMAX,240145.6128,B1-10096515502
3,2023-10-01,95004139,1st Oct to 31st Dec 2023,KRA - MANDERA,180078.7944,B1-10096515502
4,2023-10-01,95004140,1st Oct to 31st Dec 2023,KRA - Moyale,240145.6128,B1-10096515502

In [ ]:
cleaned_df['Link ID'].astype('object')

In [80]:
import pandas as pd

class DataCleaner:
    def __init__(self, df):
        self.df = df

    def drop_null_rows(self):
        self.df.dropna(how='all', inplace=True)

    def drop_total_row(self):
        if "No." in self.df.columns:
            self.df.drop(self.df[self.df["No."] == "Total"].index, inplace=True)

    def pick_invoice_no_column_name(self):
        for substring in ['invoice no', 'ref']:
            matching_columns = [col for col in self.df.columns if substring.lower() in col.lower()]
            if matching_columns:
                return matching_columns[0]

    def QRC_Finder(self):
        max_value = None
        max_col = None
        for substring in ['QRC', 'Total', 'Amount']:
            fields = [col for col in self.df.columns if substring.lower() in col.lower()]
            for field in fields:
                if field in self.df.columns and not self.df[field].isnull().all():
                    first_row_value = self.df.at[1, field]
                    if max_value is None or first_row_value > max_value:
                        max_value = first_row_value
                        max_col = field
        return max_col

    def col_of_interest(self):
        self.drop_null_rows()
        self.drop_total_row()

        columns_wanted = {
            "Date": "Invoice Date",
            "ID": "Link ID",
            "Period": "Invoice Period",
            "Description": "Invoice Description",            
            "Reference/No": self.pick_invoice_no_column_name(),
            "QRC": self.QRC_Finder()
        }

        self.df = self.df.loc[:, [value for value in columns_wanted.values()]]


    def col_renaming(self):
        self.col_of_interest()

        new_col_names = {
            "Invoice Date": "Invoice_Data",
            "Link ID": "Link_ID",
            "Invoice Period": "Invoice_Period",
            "Invoice Description":"Invoice_Description",           
            self.pick_invoice_no_column_name(): "Invoice_Reference",
             self.QRC_Finder(): "Total_QRC"
        }
        self.df = self.df.rename(columns = new_col_names)

    def clean_invoice_data(self):
        self.col_renaming()
        # Convert 'Invoice Date' to datetime
        if 'Invoice_Date' in self.df.columns:
            self.df['Invoice_Date'] = pd.to_datetime(self.df['Invoice_Date'])

        # Adjust 'Link ID' based on its current type
        if 'Link ID' in self.df.columns:
            if self.df['Link_ID'].dtype == 'float':
                self.df['Link_ID'] = self.df['Link_ID'].astype('int').astype('str')
            elif self.df['Link_ID'].dtype == 'int':
                self.df['Link_ID'] = self.df['Link_ID'].astype('str')
            # If 'Link ID' is already object, no conversion is needed
        return self.df

# Assuming df is your DataFrame
cleaner = InvoiceCleaner(df)
cleaned_df = cleaner.clean_invoice_data()

In [81]:
cleaned_df.head()

,Invoice_Data,Link_ID,Invoice_Period,Invoice_Description,Invoice_Reference,Total_QRC
0,2023-10-13,26046,01-Oct-2023 to 31-Dec-2023,26046 National MPLS KRA MBITA TO VRF (INS-57),CRN-15473,-55986.24
1,2023-10-06,C-00159-0087,01-Oct-2023 to 31-Dec-2023,C-00159-0087 EPL Connection charge 80MBPS->SAM...,116426,417600.00
2,2023-10-06,1750,01-Oct-2023 to 31-Dec-2023,01750 National MPLS KRA - TIMES TOWERS TO VRF,116426,939600.00
3,2023-10-06,5611,01-Oct-2023 to 31-Dec-2023,05611 National MPLS Msa link vlan 460 customs,116426,71835.90
4,2023-10-06,20103,01-Oct-2023 to 31-Dec-2023,20103 Leased_Circuits_Naticnal KRA WILSON AIRP...,116426,79866.00

In [82]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Invoice_Data         26 non-null     object
 1   Link_ID              26 non-null     object
 2   Invoice_Period       26 non-null     object
 3   Invoice_Description  26 non-null     object
 4   Invoice_Reference    26 non-null     object
 5   Total_QRC            26 non-null     float64
dtypes: float64(1), object(5)
memory usage: 1.3+ KB

In [67]:
cleaned_df

,Invoice Date,Link ID,Invoice Period,Invoice Description,Invoice Total,Invoice No
0,2023-10-13,26046,01-Oct-2023 to 31-Dec-2023,26046 National MPLS KRA MBITA TO VRF (INS-57),-55986.240,CRN-15473
1,2023-10-06,C-00159-0087,01-Oct-2023 to 31-Dec-2023,C-00159-0087 EPL Connection charge 80MBPS->SAM...,417600.000,116426
2,2023-10-06,1750,01-Oct-2023 to 31-Dec-2023,01750 National MPLS KRA - TIMES TOWERS TO VRF,939600.000,116426
3,2023-10-06,5611,01-Oct-2023 to 31-Dec-2023,05611 National MPLS Msa link vlan 460 customs,71835.900,116426
4,2023-10-06,20103,01-Oct-2023 to 31-Dec-2023,20103 Leased_Circuits_Naticnal KRA WILSON AIRP...,79866.000,116426
5,2023-10-06,20954,01-Oct-2023 to 31-Dec-2023,20954 National MPLS KRA EGERTON UNIVERSITY NJO...,174000.000,116426
6,2023-10-06,21195,01-Oct-2023 to 31-Dec-2023,21195 National MPLS KRA SAMEER BUSINESS PARK T...,501120.000,116426
7,2023-10-06,23945,01-Oct-2023 to 31-Dec-2023,23945 National MPLS KRA JKIA TERMINAL 2 TO VRF...,69600.000,116426
8,2023-10-06,24174,01-Oct-2023 to 31-Dec-2023,24174 National MPLS KRA KISUMU PIER TO VRF(#48...,66120.000,116426
9,2023-10-06,25102,01-Oct-2023 to 31-Dec-2023,25102 National MPLS KRA KITALE TO VRF (#45509),187920.000,116426
10,2023-10-06,25106,01-Oct-2023 to 31-Dec-2023,25106 National MPLS KRA KISUMU AIRPORT TO VRF(...,66120.000,116426
11,2023-10-06,26046,01-Oct-2023 to 31-Dec-2023,26046 National MPLS KRA MBITA TO VRF (INS-57),55986.240,116426
12,2023-10-06,SVC-000000055,01-Oct-2023 to 31-Dec-2023,SVC-000000055 Local Access 10Mbps - JKIA Termi...,139200.000,116426
13,2023-10-06,C-00159-0035,01-Oct-2023 to 31-Dec-2023,C-00159-0035 National MPLS 10Mbps - JKIA Termi...,139200.000,116426
14,2023-10-06,SVC-000313856,01-Oct-2023 to 31-Dec-2023,SVC-000313856 Local Access 10Mbps - KRA HQ TO ...,111972.480,116426
15,2023-10-06,SVC-000001477,01-Oct-2023 to 31-Dec-2023,SVC-000001477 Dedicated Internet Access 300Mbp...,1440720.000,116426
16,2023-10-06,SVC-000001475,01-Oct-2023 to 31-Dec-2023,SVC-000001475 Local Access 150Mbps - KRA TOWER...,939600.000,116426
17,2023-10-06,SVC-000352039,01-Oct-2023 to 31-Dec-2023,SVC-000352039 Local Access 10MBPA KRA KITENGEL...,66120.000,116426
18,2023-10-06,SVC-000354016,01-Oct-2023 to 31-Dec-2023,SVC-000354016 Local Access 15MBPS KRA JKIA SIG...,111972.480,116426
19,2023-10-06,SVC-000354038,01-Oct-2023 to 31-Dec-2023,SVC-000354038 Local Access 10MBPS KRA JKIA EXP...,66123.306,116426
20,2023-10-06,SVC-000355329,01-Oct-2023 to 31-Dec-2023,SVC-000355329 Local Access 20MBPS DIA KRA WILS...,139200.000,116426
21,2023-10-06,SVC-000279767,01-Oct-2023 to 31-Dec-2023,SVC-000279767 Local Access 60MBPS KRA KISUMU P...,417600.000,116426
22,2023-10-06,SVC-000471031,01-Oct-2023 to 31-Dec-2023,SVC-000471031 Local Access 80MBPS-KRA-ICEA Bui...,625418.640,116426
23,2023-10-06,SVC-000424243,01-Oct-2023 to 31-Dec-2023,SVC-000424243 Local Access 15MBPS-JKIA ROOF TO...,111972.480,116426
24,2023-10-06,C-00159-0079,01-Oct-2023 to 31-Dec-2023,C-00159-0079 EPL Connection charge 4MBPS-NSSF ...,33060.000,116426
25,2023-10-06,C-00159-0082,01-Oct-2023 to 31-Dec-2023,C-00159-0082 EPL Connection charge 10MBPS-POST...,55680.000,116426

In [ ]:
cleaned_df.rename({""})

## SLA Cleaner

In [19]:
import pandas as pd
df_saf = pd.read_csv('C:\\Users\\USER\\OneDrive\\KRA WORK\\2024 WS\\SLA EDA\\SLA_ETL\\Processsed_Data\\SAFARICOM_SLA.csv')
df_ltk = pd.read_csv('C:\\Users\\USER\\OneDrive\\KRA WORK\\2024 WS\\SLA EDA\\SLA_ETL\\Processsed_Data\\LTK_SLA.csv')

In [3]:
df_ltk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   No.               26 non-null     int64
 1   SLA Service       26 non-null     object
 2   Link Description  24 non-null     object
 3   Link ID           26 non-null     object
 4   Capacity (Mbps)   26 non-null     int64
 5   MRC               26 non-null     float64
 6   QRC               26 non-null     float64
 7   Last Mile         26 non-null     object
 8   SLA Date          23 non-null     object
 9   Status            26 non-null     object
 10  SLM Comments      26 non-null     object
dtypes: float64(2), int64(2), object(7)
memory usage: 2.4+ KB

In [ ]:
df_saf.tail()

### The SLA Cleaner WS

In [14]:
class SLA_Cleaner:
    def __init__(self, df):
          self.df = df
         
    def drop_null_rows(self):
            self.df.dropna(how='all', inplace=True)

    def drop_total_row(self):
        if "No." in self.df.columns:
            self.df.drop(self.df[self.df["No."] == "Total"].index, inplace=True)
    def SLA_df(self):
         self.drop_null_rows()
         self.drop_total_row()

         df = self.df
         return df

In [25]:
saf_cleaned = SLA_Cleaner(df_saf).SLA_df()
ltk_cleaned = SLA_Cleaner(df_ltk).SLA_df()

In [22]:
saf_cleaned.tail()

,No.,KRA SITES,Last Mile,Link ID,Capacity,Monthly Ex,SLA Date,Quarterly Exc,Excise,VAT,Total Quarterly Inc,Comments
54,55,KRA - BUSIA-FIBRE,MPLS,95096538.0,20 Mbps,82200.00,2023-10-01,246600.00,49320.000,47347.20000,343267.20000,NaN
55,56,KRA - FIXED 30th Floor 3001,MPLS,95006961.0,15 Mbps,11274.36,2023-10-01,33823.08,6764.616,6494.03136,47081.72736,NaN
56,57,KRA - FIXED 25th Floor 2575,Internet,95006963.0,15 Mbps,11274.36,2023-10-01,33823.08,6764.616,6494.03136,47081.72736,NaN
57,58,KENYA SCHOOL OF REVENUE -FIBER,Internet,95021939.0,10 Mbps,15300.00,2023-10-01,45900.00,9180.000,8812.80000,63892.80000,NaN
58,59,KRA -SIAYA,MPLS,95018756.0,10 Mbps,38000.00,2023-10-01,114000.00,22800.000,21888.00000,158688.00000,NaN

In [23]:
df_saf.tail()

,No.,KRA SITES,Last Mile,Link ID,Capacity,Monthly Ex,SLA Date,Quarterly Exc,Excise,VAT,Total Quarterly Inc,Comments
54,55,KRA - BUSIA-FIBRE,MPLS,95096538.0,20 Mbps,82200.00,2023-10-01,246600.00,49320.000,47347.20000,343267.20000,NaN
55,56,KRA - FIXED 30th Floor 3001,MPLS,95006961.0,15 Mbps,11274.36,2023-10-01,33823.08,6764.616,6494.03136,47081.72736,NaN
56,57,KRA - FIXED 25th Floor 2575,Internet,95006963.0,15 Mbps,11274.36,2023-10-01,33823.08,6764.616,6494.03136,47081.72736,NaN
57,58,KENYA SCHOOL OF REVENUE -FIBER,Internet,95021939.0,10 Mbps,15300.00,2023-10-01,45900.00,9180.000,8812.80000,63892.80000,NaN
58,59,KRA -SIAYA,MPLS,95018756.0,10 Mbps,38000.00,2023-10-01,114000.00,22800.000,21888.00000,158688.00000,NaN

In [24]:
saf_cleaned.head()

,No.,KRA SITES,Last Mile,Link ID,Capacity,Monthly Ex,SLA Date,Quarterly Exc,Excise,VAT,Total Quarterly Inc,Comments
0,1,BUNGOMA MICROWAVE,MPLS,95054463.0,25 Mbps,20352.8,2020-12-16,61058.4,12211.68,11723.2128,84993.2928,Upgrade 5>25 Mbps. Check Upgrade Docs. KES 449...
1,2,BUSIA-WIMAX,MPLS,95096538.0,12 Mbps,70008.3,2020-12-16,210024.9,42004.98,40324.7808,292354.6608,NaN
2,3,DR BACKHAUL FIBRE,MPLS,95038953.0,80 Mbps,93504.6,2020-12-16,280513.8,56102.76,53858.6496,390475.2096,NaN
3,4,ELDORET KIPTAGICH MPLS FIBER,MPLS,95054464.0,60 Mbps,25439.4,2020-12-16,76318.2,15263.64,14653.0944,106234.9344,Upgrade 10>60 Mbps. Check Upgrade Docs. KES 69...
4,5,ELDORET KPC LOOP MICROWAVE,MPLS,95054465.0,5 Mbps,20357.4,2020-12-16,61072.2,12214.44,11725.8624,85012.5024,NaN

In [26]:
ltk_cleaned.head()

,No.,SLA Service,Link Description,Link ID,Capacity (Mbps),MRC,QRC,Last Mile,SLA Date,Status,SLM Comments
0,1,KRA KIXP,KRA - TIMES TOWERS TO KRA - KIXP (EADC),1750,90,270000.0,810000.0,Fibre,2020-10-01,Active,"16/04/2022: Upgraded 90 Mbps @ KES 649,050 ->..."
1,2,KRA Customs Hse - Times Tower,KRA CUSTOMS HSE TO KRA TIMES TOWER,5277,75,179718.0,539154.0,Fibre,2020-10-01,Active,Not in Invoice/Renamed/Relocated
2,3,KRA AIRPORT CONTAINER DEPOT TO CUSTOMS HSE MSA,KRA AIRPORT CONTAINER DEPOT TO CUSTOMS HSE MSA,5611,8,20642.5,61927.5,Fibre,2020-10-01,Active,Okay. No change
3,4,KRA Wilson Airport,KRA Wilson Airport Customs to Times Towers - V...,20103,9,22950.0,68850.0,Fibre,2020-10-01,Active,Okay. No change
4,5,KRA Egerton University Njoro,KRA TIMES TOWERS NBO TO EGERTON UNIVERSITY NJO...,20954,20,50000.0,150000.0,Fibre,2020-10-01,Active,Okay. No change