## Links Charges Data Pipeline db way

In [1]:
import os
import pandas as pd
import numpy as np
import glob
from dotenv import load_dotenv 
from data_cleaner import InvoiceCleaner,SLACleaner
from db_manager import DB_Manager, DataFrameToSQL

load_dotenv("SLA DP envionment file.env")  #loading the .env file

raw_data_folder_path = os.getenv('raw_data')
processed_data_folder_path = os.getenv('processed_data')

# Ensuring the processed folder exist
os.makedirs(processed_data_folder_path, exist_ok=True)

excel_files = glob.glob(f"{raw_data_folder_path}/*.xlsx")

# Empty List to be used to append the related dfs
invoice_dfs = []
sla_dfs = []

"""
Function to rename the Sheet to either Invoice or SLA
""" 
def sla_invoice(sn):
    if "sla" in sn.lower():
        return "SLA"
    elif "invoice" in sn.lower():
        return "Invoice"
    else:
        return f"Unknown"
    

'''
This Loops parse the workbook and extracts each sheet 
'''

for excel_file in excel_files:
    xls = pd.ExcelFile(excel_file)
    workbook_name = os.path.splitext(os.path.basename(excel_file))[0]


    for sheet_name in xls.sheet_names:
        df = pd.read_excel(excel_file, sheet_name=sheet_name)

        # Determine the type of sheet for processing
        sheet_type = sla_invoice(sheet_name)

        # New files Name
        def sp_modifier(sp):
            sp_new_names = {
                'SAFARICOM':'Saf',
                'LTK': 'LTK'
            }
            return sp_new_names[sp]
        w_b = sp_modifier(workbook_name.split(" ")[0])
        
        new_file_name = f"{w_b}_{sheet_type}.csv"
        new_file_path = os.path.join(processed_data_folder_path, new_file_name)


        '''
        The Extracted Sheet are then processed.
        Processing of each is depende on the Type Invoice or SLA
        '''
        
        # Apply different processing based on sheet type
        if sheet_type == "SLA":



            # Specific processing for SLA sheets            
            df_processed = SLACleaner(df,w_b).clean_data()  # Processing the SLA data

            #Adding an SLA_ID Column
            df_processed['SLA_ID'] = f"{w_b}-SLA-()"

            #Adding the Service Provider Col
            df_processed['Service_Provider'] = w_b

            # Creating a list of SLA Data Processed            
            df_sla = df_processed.copy()
            sla_dfs.append(df_sla)
        elif sheet_type == "Invoice":

            # Specific processing for Invoice sheets            
            df_processed = InvoiceCleaner(df).clean_data()  ## Processing the Invoice data

            #Adding the Service Provider Col
            df_processed['Service_Provider'] = w_b

            # Creating a list of all the Invoice data processed
            df_invoice = df_processed.copy()
            invoice_dfs.append(df_invoice)
        else:
            # Default processing or skip
            df_processed = df  # No processing that take place if the sheet is neither SLA nor Invoice
        
        '''
        After Processing the sheet are then saved to local Machine as CSV.
        Also the identical sheets i.e Invoice's and SLA's are merged into one for easier visulaization and other Analytics'''

        # Save the processed DataFrame to a new CSV file
        df_processed.to_csv(new_file_path, index=False)
        print(f"Processed and Saved: {new_file_path}")



##Combining the dfs into 1. combined_SLA and 2. combined_invoice
# Appending the SLA and Invoice dfs
SLA_Combined_df = pd.concat(sla_dfs)
Invoice_Combined_df = pd.concat(invoice_dfs)

# Saving them to the Processed Folder
#SLA
SLA_Combined_path = f'{processed_data_folder_path}\\SLA_Combined.csv'
SLA_Combined_df.to_csv(SLA_Combined_path, index= False)
print(f'SLA Combined Saved to {SLA_Combined_path}')

#Invoice
Invoice_Combined_path = f'{processed_data_folder_path}\\Invoice_Combined.csv'
Invoice_Combined_df.to_csv(Invoice_Combined_path, index= False)
print(f'Invoice Combined Saved to {Invoice_Combined_path}')



'''
In this section the data is prepared for saving into mysql db.
Another Merged table of Invoices and SLA is created . It will be a link  btn the 2
'''
## The Aggregated Data for Invoice and SLA

#Creating the Link_ID Col
Merged_Data_SLA_Invoice = pd.DataFrame({
    'Link_ID': pd.concat([Invoice_Combined_df['Link_ID'],SLA_Combined_df['Link_ID']]).unique()
})


#Inserting Service Provider values
SLA_SP = dict(zip(SLA_Combined_df['Link_ID'], SLA_Combined_df['Service_Provider']))
invoice_SP = dict(zip(Invoice_Combined_df['Link_ID'], Invoice_Combined_df['Service_Provider']))

Merged_Data_SLA_Invoice['Service_Provider'] = Merged_Data_SLA_Invoice['Link_ID'].map(SLA_SP)
Merged_Data_SLA_Invoice['Service_Provider'] = np.where(
    Merged_Data_SLA_Invoice['Service_Provider'].isnull(),
    Merged_Data_SLA_Invoice['Link_ID'].map(invoice_SP),
    Merged_Data_SLA_Invoice['Service_Provider']
)
# SLA vs Invoice Status
Merged_Data_SLA_Invoice['In_SLA_vs_Invoiced'] = np.where(
    Merged_Data_SLA_Invoice['Link_ID'].isin(SLA_Combined_df['Link_ID']) &
    Merged_Data_SLA_Invoice['Link_ID'].isin(Invoice_Combined_df['Link_ID']),
    "In SLA and Invoiced",
    np.where(Merged_Data_SLA_Invoice['Link_ID'].isin(SLA_Combined_df['Link_ID']),
             "IN SLA but Not Invoiced",
             np.where(
                 Merged_Data_SLA_Invoice['Link_ID'].isin(Invoice_Combined_df['Link_ID']),
                 "Invoiced but not in SLA",
                 "Unknown"
             )
        )
    
)


#### Saving them into a mysql DB
#Importing DBManger class



#Creating an Instant of DataFrameToSQL
df_to_sql = DataFrameToSQL(
    user = os.getenv('user'),
    password = os.getenv('password'),
    host = os.getenv('host'),    
    database = os.getenv('db_name')
)


#Saving SLA Data Into the DB 
SLA_table_name = 'sla_combined_table'
pk = 'Link_ID'
df_to_sql.save_to_mysql(df= SLA_Combined_df, 
                        table_name= SLA_table_name) 
                       #  primary_key= pk)



#Inserting the Invoice data into the db
invoice_table_name = 'invoice_combined_table'

df_to_sql.save_to_mysql(df= Invoice_Combined_df, 
                        table_name= invoice_table_name)  
                        # primary_key= pk)


#Saving the aggregated data into the mysql df
aggregate_df_name = 'aggregate_df'
df_to_sql.save_to_mysql( df= Merged_Data_SLA_Invoice,
                        table_name = aggregate_df_name

)


print('\n\t Imagine Imerun !!!\t\nNow to Visualization')

SyntaxError: invalid syntax (data_cleaner.py, line 236)

### Testing

In [2]:
import pandas as pd
ltk_sla_df = pd.read_csv('C:\\Users\\USER\\OneDrive\\KRA WORK\\2024 WS\SLA EDA\\SLA_ETL\\Processsed_Data\\LTK_SLA.csv')
saf_sla_df = pd.read_csv('C:\\Users\\USER\\OneDrive\\KRA WORK\\2024 WS\SLA EDA\\SLA_ETL\\Processsed_Data\\SAFARICOM_SLA.csv')
combined_sla = pd.read_csv('C:\\Users\\USER\\OneDrive\\KRA WORK\\2024 WS\SLA EDA\\SLA_ETL\\Processsed_Data\\SLA_Combined.csv')

ltk_invoice_df = pd.read_csv('C:\\Users\\USER\\OneDrive\\KRA WORK\\2024 WS\SLA EDA\\SLA_ETL\\Processsed_Data\\LTK_Invoice.csv')
saf_invoice_df = pd.read_csv('C:\\Users\\USER\\OneDrive\\KRA WORK\\2024 WS\SLA EDA\\SLA_ETL\\Processsed_Data\\SAFARICOM_Invoice.csv')
combined_Invoice = pd.read_csv('C:\\Users\\USER\\OneDrive\\KRA WORK\\2024 WS\SLA EDA\\SLA_ETL\\Processsed_Data\\Invoice_Combined.csv')

In [13]:
pd.to_datetime(saf_sla_df['SLA_Date']).unique()
#saf_sla_df['SLA_Date'].dt.year

def assign_rank(df):
    #Extracting unique values from the date col and sort them
    unique_dates = sorted(df['SLA_Date'].dt.dtrftime('%Y-%m-%d').unique())

    #creating a mapping of date to rank
    date_to_rank = {date: f'{i:02d}' for i,date in enumerate(unique_dates)}

    #add a new col called rank based on the mapping
    df['rank'] =  df['SLA_Date'].dt.dtrftime('%Y-%m-%d').map(date_to_rank)

    return df['rank']

In [2]:
ltk_invoice_df.head()

,Invoice_Date,Link_ID,Invoice_Period,Invoice_Description,Invoice_Reference,Total_QRC,Invoice_Data,Service_Provider
0,2023-10-06,C-00159-0087,01-Oct-2023 to 31-Dec-2023,C-00159-0087 EPL Connection charge 80MBPS->SAM...,116426,417600.0,2023-10-06,LTK
1,2023-10-06,1750,01-Oct-2023 to 31-Dec-2023,01750 National MPLS KRA - TIMES TOWERS TO VRF,116426,939600.0,2023-10-06,LTK
2,2023-10-06,5611,01-Oct-2023 to 31-Dec-2023,05611 National MPLS Msa link vlan 460 customs,116426,71835.9,2023-10-06,LTK
3,2023-10-06,20103,01-Oct-2023 to 31-Dec-2023,20103 Leased_Circuits_Naticnal KRA WILSON AIRP...,116426,79866.0,2023-10-06,LTK
4,2023-10-06,20954,01-Oct-2023 to 31-Dec-2023,20954 National MPLS KRA EGERTON UNIVERSITY NJO...,116426,174000.0,2023-10-06,LTK

In [4]:
saf_invoice_df.head()

,Invoice_Data,Link_ID,Invoice_Period,Invoice_Description,Invoice_Reference,Total_QRC,Service_Provider
0,2023-10-01,95001135,1st Oct to 31st Dec 2023,CUSTOMS OFFICE MALINDI-WIMAX,B1-10096515502,240145.6128,SAFARICOM
1,2023-10-01,95001574,1st Oct to 31st Dec 2023,KRA LOITOKTOK BORDER WIMAX,B1-10096515502,240145.6128,SAFARICOM
2,2023-10-01,95001628,1st Oct to 31st Dec 2023,KRA KRATI MOMBASA WIMAX,B1-10096515502,240145.6128,SAFARICOM
3,2023-10-01,95004139,1st Oct to 31st Dec 2023,KRA - MANDERA,B1-10096515502,180078.7944,SAFARICOM
4,2023-10-01,95004140,1st Oct to 31st Dec 2023,KRA - Moyale,B1-10096515502,240145.6128,SAFARICOM

In [3]:
combined_sla.head()

,Link_ID,SLA_Date,Last_Mile,Capacity_in_Mbps,Location,MRC_Excl,SLM_Comments,QRC_Incl,SLA_ID,Service_Provider
0,1750,2020-10-01,Fibre,90,KRA - TIMES TOWERS TO KRA - KIXP (EADC),270000.0,"16/04/2022: Upgraded 90 Mbps @ KES 649,050 ->...",939600.00,LTK-SLA-(),LTK
1,5277,2020-10-01,Fibre,75,KRA CUSTOMS HSE TO KRA TIMES TOWER,179718.0,Not in Invoice/Renamed/Relocated,625418.64,LTK-SLA-(),LTK
2,5611,2020-10-01,Fibre,8,KRA AIRPORT CONTAINER DEPOT TO CUSTOMS HSE MSA,20642.5,Okay. No change,71835.90,LTK-SLA-(),LTK
3,20103,2020-10-01,Fibre,9,KRA Wilson Airport Customs to Times Towers - V...,22950.0,Okay. No change,79866.00,LTK-SLA-(),LTK
4,20954,2020-10-01,Fibre,20,KRA TIMES TOWERS NBO TO EGERTON UNIVERSITY NJO...,50000.0,Okay. No change,174000.00,LTK-SLA-(),LTK

In [6]:
combined_Invoice

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Invoice_Date         83 non-null     object
 1   Link_ID              83 non-null     object
 2   Invoice_Period       83 non-null     object
 3   Invoice_Description  83 non-null     object
 4   Invoice_Reference    83 non-null     object
 5   Total_QRC            83 non-null     float64
 6   Invoice_Data         83 non-null     object
 7   Service_Provider     83 non-null     object
dtypes: float64(1), object(7)
memory usage: 5.3+ KB

In [5]:
combined_Invoice.head()

,Link_ID,SLA_Date,Last_Mile,Capacity(Mbps),Location,MRC_Excl,SLM_Comments,QRC_Incl,SLA_ID,Service_Provider
0,1750,2020-10-01,Fibre,90,KRA - TIMES TOWERS TO KRA - KIXP (EADC),270000.0,"16/04/2022: Upgraded 90 Mbps @ KES 649,050 ->...",939600.00,LTK-SLA-2020-10-01 00:00:00,LTK
1,5277,2020-10-01,Fibre,75,KRA CUSTOMS HSE TO KRA TIMES TOWER,179718.0,Not in Invoice/Renamed/Relocated,625418.64,LTK-SLA-2020-10-01 00:00:00,LTK
2,5611,2020-10-01,Fibre,8,KRA AIRPORT CONTAINER DEPOT TO CUSTOMS HSE MSA,20642.5,Okay. No change,71835.90,LTK-SLA-2020-10-01 00:00:00,LTK
3,20103,2020-10-01,Fibre,9,KRA Wilson Airport Customs to Times Towers - V...,22950.0,Okay. No change,79866.00,LTK-SLA-2020-10-01 00:00:00,LTK
4,20954,2020-10-01,Fibre,20,KRA TIMES TOWERS NBO TO EGERTON UNIVERSITY NJO...,50000.0,Okay. No change,174000.00,LTK-SLA-2020-10-01 00:00:00,LTK

In [5]:
combined_Invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Link_ID           85 non-null     object
 1   SLA_Date          82 non-null     object
 2   Last_Mile         85 non-null     object
 3   Capacity(Mbps)    85 non-null     int64
 4   Location          83 non-null     object
 5   MRC_Excl          85 non-null     float64
 6   SLM_Comments      47 non-null     object
 7   QRC_Incl          85 non-null     float64
 8   SLA_ID            85 non-null     object
 9   Service_Provider  85 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 6.8+ KB

In [22]:
invoice_dfs

1

In [11]:
DB_Manager(
    host = "localhost",
    user = "KRA",
    password = "36031445&Mysql_Kra",
    database = "kra_sla_etl_project"
).connect()

Connected to database successfully.

In [8]:
import mysql.connector

In [12]:
import mysql.connecto
conn = mysql.connector(
    host = "localhost",
    user = "KRA",
    password = "36031445&Mysql_Kra",
    database = "kra_sla_etl_project"
    
)

TypeError: 'module' object is not callable

### Trying .to_sql way of dumping data into db

##### Environment Setup

In [ ]:
#!pip install pandas sqlalchemy pymsql

##### Database Setup and connecting

In [16]:
from sqlalchemy import create_engine
engine = create_engine(
   "mysql+pymysql://KRA:36031445&Mysql_Kra@localhost/kra_sla_etl_project" 
)

#Saving 
ltk_sla_df.to_sql(name='ltk_sla_table',
                  con=engine,
                  if_exists='replace',
                  index=False)

26

In [18]:
df = pd.read_sql('SELECT * FROM  ltk_sla_table', con=engine)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Link_ID           26 non-null     object
 1   SLA_Date          23 non-null     object
 2   Last_Mile         26 non-null     object
 3   Capacity_in_Mbps  26 non-null     int64
 4   Location          24 non-null     object
 5   MRC_Excl          26 non-null     float64
 6   SLM_Comments      26 non-null     object
 7   QRC_Incl          26 non-null     float64
 8   SLA_ID            26 non-null     object
 9   Service_Provider  26 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 2.2+ KB

In [10]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\envs\python_dev\lib\site-packages (1.4.51)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\envs\python_dev\lib\site-packages (from sqlalchemy) (3.0.1)

In [4]:
ltk_sla_df.Name()

AttributeError: 'DataFrame' object has no attribute 'Name'

In [7]:
import pandas as pd

# Creating a DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

# Extracting the variable name (not recommended)
df_name = 'df'

# Accessing DataFrame name through a custom function (recommended)
def get_dataframe_name(df):
    for name, obj in globals().items():
        if obj is df:
            return name
    return None

df_name = get_dataframe_name(df)
print("DataFrame name:", df_name)

DataFrame name: df

#### Merging the 2 SLA and Invoice Data

In [3]:
combined_Invoice.head()

,Invoice_Date,Link_ID,Invoice_Period,Invoice_Description,Invoice_Reference,Total_QRC,Service_Provider
0,2023-10-06,C-00159-0087,01-Oct-2023 to 31-Dec-2023,C-00159-0087 EPL Connection charge 80MBPS->SAM...,116426,417600.0,LTK
1,2023-10-06,1750,01-Oct-2023 to 31-Dec-2023,01750 National MPLS KRA - TIMES TOWERS TO VRF,116426,939600.0,LTK
2,2023-10-06,5611,01-Oct-2023 to 31-Dec-2023,05611 National MPLS Msa link vlan 460 customs,116426,71835.9,LTK
3,2023-10-06,20103,01-Oct-2023 to 31-Dec-2023,20103 Leased_Circuits_Naticnal KRA WILSON AIRP...,116426,79866.0,LTK
4,2023-10-06,20954,01-Oct-2023 to 31-Dec-2023,20954 National MPLS KRA EGERTON UNIVERSITY NJO...,116426,174000.0,LTK

In [5]:
import pandas as pd
import numpy as np

In [14]:
import numpy as np
Merged_Data_SLA_Invoice = pd.DataFrame({
    'Link_ID': pd.concat([combined_Invoice['Link_ID'],combined_sla['Link_ID']]).unique()
})
SLA_SP = dict(zip(combined_sla['Link_ID'], combined_sla['Service_Provider']))
invoice_SP = dict(zip(combined_Invoice['Link_ID'], combined_Invoice['Service_Provider']))

Merged_Data_SLA_Invoice['Service_Provider'] = Merged_Data_SLA_Invoice['Link_ID'].map(SLA_SP)
Merged_Data_SLA_Invoice['Service_Provider'] = np.where(
    Merged_Data_SLA_Invoice['Service_Provider'].isnull(),
    Merged_Data_SLA_Invoice['Link_ID'].map(invoice_SP),
    Merged_Data_SLA_Invoice['Service_Provider']
)

# SLA vs Invoice Status
Merged_Data_SLA_Invoice['In_SLA_vs_Invoiced'] = np.where(
    Merged_Data_SLA_Invoice['Link_ID'].isin(combined_sla['Link_ID']) &
    Merged_Data_SLA_Invoice['Link_ID'].isin(combined_Invoice['Link_ID']),
    "In SLA and Invoiced",
    np.where(Merged_Data_SLA_Invoice['Link_ID'].isin(combined_sla['Link_ID']),
             "IN SLA but Not Invoiced",
             np.where(
                 Merged_Data_SLA_Invoice['Link_ID'].isin(combined_Invoice['Link_ID']),
                 "Invoiced but not in SLA",
                 "Unknown"
             )
        )
    
)

Merged_Data_SLA_Invoice.info()
Merged_Data_SLA_Invoice

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Link_ID             95 non-null     object
 1   Service_Provider    95 non-null     object
 2   In_SLA_vs_Invoiced  95 non-null     object
dtypes: object(3)
memory usage: 2.4+ KB

         Link_ID Service_Provider       In_SLA_vs_Invoiced
0   C-00159-0087              LTK      In SLA and Invoiced
1           1750              LTK      In SLA and Invoiced
2           5611              LTK      In SLA and Invoiced
3          20103              LTK      In SLA and Invoiced
4          20954              LTK      In SLA and Invoiced
..           ...              ...                      ...
90         25104              LTK  IN SLA but Not Invoiced
91         25105              LTK  IN SLA but Not Invoiced
92         26045              LTK  IN SLA but Not Invoiced
93         26047              LTK  IN SLA but Not Invoiced
94      95018756        SAFARICOM  IN SLA but Not Invoiced

[95 rows x 3 columns]

In [21]:
type(pd.concat([combined_Invoice['Link_ID'],combined_sla['Link_ID']]))

pandas.core.series.Series

In [24]:
Merged_Data_SLA_Invoice.head()
Merged_Data_SLA_Invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Link_ID  95 non-null     object
dtypes: object(1)
memory usage: 888.0+ bytes

In [10]:
type(Merged_Data)

numpy.ndarray

In [ ]:
Merged_Data_SLA_Invoice['sp'] = [combined_sla['Service_Provider'] for li in combined_sla['']]

In [4]:
combined_Invoice.head()

,Invoice_Date,Link_ID,Invoice_Period,Invoice_Description,Invoice_Reference,Total_QRC,Service_Provider
0,2023-10-06,C-00159-0087,01-Oct-2023 to 31-Dec-2023,C-00159-0087 EPL Connection charge 80MBPS->SAM...,116426,417600.0,LTK
1,2023-10-06,1750,01-Oct-2023 to 31-Dec-2023,01750 National MPLS KRA - TIMES TOWERS TO VRF,116426,939600.0,LTK
2,2023-10-06,5611,01-Oct-2023 to 31-Dec-2023,05611 National MPLS Msa link vlan 460 customs,116426,71835.9,LTK
3,2023-10-06,20103,01-Oct-2023 to 31-Dec-2023,20103 Leased_Circuits_Naticnal KRA WILSON AIRP...,116426,79866.0,LTK
4,2023-10-06,20954,01-Oct-2023 to 31-Dec-2023,20954 National MPLS KRA EGERTON UNIVERSITY NJO...,116426,174000.0,LTK

In [5]:
Invoice_period_replacer = {
    '1st Oct to 31st Dec 2023' : '01-Oct-2023 to 31-Dec-2023',
    '01-Oct-2023 to 31-Dec-2023' : '01-Oct-2023 to 31-Dec-2023'
}

In [7]:
combined_Invoice['Invoice_Period'] = combined_Invoice['Invoice_Period'].replace(Invoice_period_replacer)

In [8]:
combined_Invoice.Invoice_Period.unique()

array(['01-Oct-2023 to 31-Dec-2023'], dtype=object)